@using Practice_04.Storage.Models;
@model Product

<div class="card product-card" style="width: 18rem;">
    <img src=@Model.Photo width="100" class="card-img-top" alt="...">
    <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between;" >
        <div>
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">Rating: @Model.Rating</p>
            <p class="card-text">Price: @Model.Price </p>
        </div>

        <div class="product-action-buttons" style="display: flex; justify-content: space-evenly; margin-top: 20px;">

            <a class="btn btn-primary" href="/Product/ViewProduct?id=@Model.Id">
                <i class="far fa-eye"></i>
            </a>
            <a class="btn btn-primary" href="/Product/Index?id=@Model.Id">
                <i class="fas fa-pen"></i>
            </a>

            <form action="/Product/DeleteProduct" method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type"button" class="btn btn-primary"><i class="fas fa-trash"></i></button>
            </form>

            <form asp-controller="Basket" asp-action="AddToBasket" method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <button class="btn btn-success"><i class="fas fa-shopping-basket"></i></button>
            </form>
        </div>
    </div>
</div>